
  <!-- Sidebar content here -->
  <div class="card-holder h-100 text-center" style="background-color: white;">
    <div class="card-header" style="background-color: white;">
      <img src="https://i.pinimg.com/564x/5b/b1/6e/5bb16e3e270ae5dd89dd9f29064eb12a.jpg" alt=""
           style="height: 100px; width: 100px; border-radius: 100%; align-self: center;">
      <h5 class="card-title">tientv5</h5>
      <h6 class="card-subtitle mb-2 text-muted"><span><i class="fa-solid fa-star text-warning"></i></span>Score: 100</h6>
    </div>
    <div class="card-selection align-items-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item w-100" style="text-align: left;">Account information</li>
        <li class="list-group-item w-100" style="text-align: left;"><a th:href="@{/view-history-score}">History Score</a></li>
        <li class="list-group-item w-100" style="font-weight: bold; text-align: left;"><a th:href="@{/booked-ticket}">Booked Ticket</a></li>
        <li class="list-group-item w-100" style="text-align: left;">Canceled ticket</li>
      </ul>
    </div>
  </div>

